body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #ddd;
    --text-color: #ddd;
  }



.home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.create-a-post {
    display: block;
    width: 40rem;
    margin-top: 4rem;
    background-color: white;
    border-radius: 1.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

body.dark .home .create-a-post {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.create-a-post h1 {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

#my-form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#my-form input{
    display: block;
    margin-bottom: 0.5rem;
}

#my-form button{
    cursor: pointer;
    border-radius: 0.3125rem;
    border: none;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 5px 10px;
}

#editor {
    min-height: 6rem;
}

@media  only screen and (min-width: 0px) { 
    .create-a-post {
        margin-top: 0rem;
    }
}

@media  only screen and (min-width: 576px) { 
    .create-a-post {
        margin-top: 0rem;
    }
}

@media only screen and (min-width: 768px) { 
    .create-a-post {
        margin-top: 4rem;
    }
 }

@media only screen and(min-width: 992px) { 
    .create-a-post {
        margin-top: 4rem;
    }
 }

@media only screen and(min-width: 1200px) { 
    .create-a-post {
        margin-top: 4em;
    }
 }

@media only screen and (min-width: 1400px) {
    .create-a-post {
        margin-top: 4rem;
    }
}
